<h1 class="mt-5">Agregar Productos</h1>
<hr />
<form [formGroup]="miFormulario">
  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <label>Nombre:</label>
    </div>
    <div class="col-auto">
      <input formControlName="nombre" class="form-control" />
    </div>
    <div class="col-auto">
      <span
        class="form-text"
        errorMsg
        [valido] = "tieneError('nombre')"
      ></span>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2">
      <button class="btn btn-primary" (click)="cambiarText()">CambiarText</button>
    </div>
       <div class="col-2">
      <button class="btn btn-primary" (click)="cambiarColor()">CambiarColor</button>
    </div>

  </div>
</form>

<h3 class="mt-5">Formulario</h3>
<pre> Valid: {{ miFormulario.valid }}</pre>
<pre>Value: {{ miFormulario.controls["nombre"]?.errors | json }}</pre>
